.full {
  width: 97.5%;
  border: none;
  padding: 10px;
  outline: none;
  font-size: 22px;
  box-shadow: 0 0 4px 0 black;
}
.read {
  border: none;
  padding: 10px;
  outline: none;
  font-size: 12px;
  box-shadow: 0 0 2px 0 black;
}
